div.container
	div( *ngIf='events')
		h2 Veranstaltungen in Deutschland
		div.row(*ngFor='let event of events')
			div.col-md-12( (window:scroll)='scrollListener()' )
				div.panel.panel-default.panel-profile.m-b-0
					div.panel-heading.height-300(style='background-image: url(placeholder.png)')
					div.panel-body
						div.col-md-6.height-300
							h2.panel-title {{event.title}}
							div
								label EventID 
								span.pull-right {{event.id}}
							div
								label Anmeldeschluß 
								span.pull-right {{event.deadline | iso8601ToDate }}
							div
								label Datum 
								span.pull-right {{event.date | iso8601ToDate }}
							button.btn.btn-success.btn-bottom Teilnehmen
							button.btn.btn-primary.btn-bottom.btn-bottom-right( (click)='onSelect(event);gotoDetail();' ) Details ..
						div.col-md-6
							div.panel-location( *ngIf='event.location')
								img( src="{{getLocationLink(event)}}" )
								
		div.row
			div.col-md-12
				button.btn.btn-default( (click)='addEvent()' ) Neue Veranstaltung
				div( *ngIf='newEvent')
					my-event-detail( (close)='close($event)' )