doctype html
html(lang='de')
	head
		base(href='/')
		meta(name='facebookAppId', content=facebookAppId)
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
		link(rel='stylesheet', href='https://bootswatch.com/cosmo/bootstrap.min.css', crossorigin='anonymous')
		link(rel='stylesheet', href='https://rawgit.com/lipis/bootstrap-social/gh-pages/bootstrap-social.css')
		link(rel='stylesheet', href='style.css')
		script(type="application/javascript", src='https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key=' + googleMapsKey)
		script(type="application/javascript", src='https://code.jquery.com/jquery-2.2.3.min.js')
		script(type="application/javascript", src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
		script(type="application/javascript", src='https://use.fontawesome.com/c54f8bd9b1.js')
		script(type="application/javascript", src='https://connect.facebook.net/en_US/sdk.js')
		script(type="application/javascript", src='js-marker-clusterer/src/markerclusterer_compiled.js')
		// import angular - default scripts
		script(src='zone.js/dist/zone.js')
		script(src='reflect-metadata/Reflect.js')
		script(src='rxjs/bundles/Rx.umd.js')
		// import angular - custom modules
		script(src='app.js')
		// set custom style
		style
			|body, html {height: 100%;}
			|header {height: 100px;}
	body
		noscript
			div#noscript-padding
		div.container
			div.fail-popups#fail-popups
				div.alert.alert-danger.centered(role='alert')
					b
						|JavaScript ist deaktiviert!
					| Bitte aktivieren Sie JavaScript.
	noscript
		div#noscript-warning
			|Diese Seite funktioniert am Besten mit JavaScript
	my-app
		| Loading...
	div.container
		hr
		div.row
			div.footer
				p.text-muted.centered Copyright (c) 2016 Bitfröst Studios
	script(type="application/javascript")
		|function fpDisplay(visibility) {
		|	document.getElementById('fail-popups').style.display= visibility;
		|};
		|fpDisplay("none");
	script(type="application/javascript")
		|// Load the SDK asynchronously
		|(function(d, s, id) {
		|	var js, fjs = d.getElementsByTagName(s)[0];
		|	if (d.getElementById(id)) return;
		|	js = d.createElement(s); js.id = id;
		|	js.src = "//connect.facebook.net/en_US/sdk.js";
		|	fjs.parentNode.insertBefore(js, fjs);
		|}(document, 'script', 'facebook-jssdk'));
