div.container
	div.row-fluid( *ngIf='pilots')
		div(*ngFor='let pilot of pilots')
			div.col-md-4
				div.panel.panel-default.panel-profile.m-b-25
					div.panel-heading.height-300(style='background-image: url(placeholder.png)')
					div.panel-body
						h2.panel-title {{pilot.alias}}
						p {{pilot.id}}
						p {{pilot.familyName}}, {{pilot.firstName}}
						p {{pilot.notes}}
						button.btn.btn-default( (click)='onSelect(pilot);gotoDetail();' ) mehr..
