div
	div.panel.panel-default
		div.panel-heading Piloten
		table.table.table-hove
			tr
				td #
				td Alias
				td Name
				td Vorname
				td notes
			
			tr(*ngFor='let pilot of pilots', [class.selected]='pilot === selectedPilot', [class.info]='selectedPilot', (click)='onSelect(pilot)')
				td {{pilot.id}}
				td {{pilot.alias}}
				td {{pilot.familyName}}
				td {{pilot.firstName}}
				td {{pilot.notes}}
			div(*ngIf='selectedPilot')
				h2
					| {{selectedPilot.alias | uppercase}} is my pilot
				button.btn.btn-default mehr..
