ul.nav.navbar-nav
	li
		a( (click)='open()' ) Registrieren
modal( #modal="" )
	modal-header( [show-close]='true' )
		h4.modal-title Test
	modal-body Tralala
	modal-footer( [show-default-buttons]='true' )